esp32-s3/WiFiCredentials.h
.vscode/
build/
flutter_app/.dart_tool/
flutter_app/.idea/
flutter_app/.packages
flutter_app/linux/flutter/ephemeral/.plugin_symlinks/flutter_blue_plus_linux
flutter_app/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
flutter_app/linux/flutter/ephemeral/.plugin_symlinks/shared_preferences_linux
flutter_app/macos/Flutter/GeneratedPluginRegistrant.swift
